.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-button {
    margin: 12.5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#html-loc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#wrapper > *:first-child {
    flex: 0 0 60%;
}

#wrapper > *:last-child {
    flex: 0 0 40%;
}

#ui-id-37 {
    width: 50%!important;
}

#permdialog_file_user_list {
    height: auto!important;
    width: 100%!important;
}

.ui-dialog .ui-dialog-content {
    height: auto!important;
}